<div><%= @user %><%= @compliment %></div>
<p></p>

<div>Compliment Others:</div>
<form action="/" method="post">
  <input type="text" name="compliment">
  <input type="submit" value="Submit">
</form>
