<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Compliment Generator</title>
  <style>
    body {
      background-color: <%= @background_color.sample %>;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Hello <%= @name %></h1>
  <h3> <%= @compliments.sample %></h3>
</body>

</html>
