<p><%= @greeting %></p>
<p><%= @compliment %></p>

<h3>Submit your own compliment here!</h3>
<form action="/" method = 'post'>
  <input type="text" name='customize_compliment'>
  <input type="submit">
</form>
