<div><%= @greeting %></div>
<div><%= @compliment %></div>
<div id ="next"><a href="/">Another one, please!</a></div>
<form action="/new_data" method="POST">
     <p>Add a compliment:</p>
      <input type="text" name="new_compliment">
      <input type="submit">
 </form>
