
<h2><%= @greeting_name %></h2>
<h2><%= @greeting_msg %></h2>
<h1><%= @compliment %></h1>
<h2><a href='/'>Still not feelin' the love?</a></h2>

<form action="add" method="post">
	<h2>New Compliment:</h2>
	<input type="text" name="compliment">
	<input type="submit" value="Submit">
</form>
