<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emergency Compliment</title>
  <style media="screen">
    body {
      background-color: <%= @color %>;
      font-family: cursive;
      color: white;
      width: 1000px;
      margin: 0 auto
    }
    h1 {
      font-size: 72px;
      margin: 0 auto;
      text-align: center;
    }
    div {
      font-size: 50px;
      margin: 0 auto;
      text-align: center;
    }

    .updaters {
      display: block;
      margin: auto;
    }
    form {
      display: inline-block;
      margin: auto;
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>BREAK GLASS IN CASE OF EMERGENCY!</h1>
  <%= yield %>
</body>
</html>
