<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emergency Compliment</title>
  <style>
  body {
    background-color: <%= @color %>;
    font-family: helvetica;
    color: white;
    text-align: center;
    margin: 200px auto;

  }
  div {
    font-size: 80px;
    margin: 20px
  }

  </style>
</head>
<body>
  <div></div>
  <%= yield %>
</body>
</html>
