<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>EMERGENCY COMPLIMENT</title>
  </head>
  <style>
    body {
      background-color: <%= @color %>;
    }
    font {
      text-shadow: 2px 4px black;
    }
    div {
      border: 3px;
      border-color: white;
      border-style: dashed;
    }
    a {
      color: black;
      font-size: 20px;
    }
  </style>
  <body>

<div>
  <center> <h1><font color='white'>Hey <%= @name %>! I have something to tell you</font><br><font color='white' size=25px>**<%= @compliment %>**</font></h1>
  <iframe src="//giphy.com/embed/J6XnDY99KOMwg" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="/">Did you like that? If yes click here</a></p>
</center>
</div>
  </body>
</html>
