<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Emergency Compliments</title>
	<link rel="stylesheet" href="CSS/styles.css">
</head>
<body style="background-color:<%= @color %>">
<%= yield %>
</body>
</html>
