<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
    <style>
    body {
      background-color: <%= @color %>;
      color: white;
      width: 700px;
      padding: 50px;
      font-size: 25px;
      font-family: sans-serif;
    }

    </style>
  </head>
  <body>
    <h1>Emergency WDI Compliment</h1>
    <%= yield %>
  </body>
</html>
</html>
