<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
    <style>
    body {
      background-color: <%= @color %>;
      font-family: cursive;
      font-size: 25px;
      color: white;
      width: 500px;
      margin: 0 auto;
    }
    div {
      font-size: 30px;
      margin: 0 auto;
      text-align: center;
    }
    </style>
  </head>
  <body>
    <h1>Emergency WDI Compliment</h1>
    <%= yield %>
  </body>
</html>
</html>
