<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You're sooooo Pretty </title>
    <style>
    body {
      background-color: <%= @color %>;
      color: white;
    }
    </style>
</head>
<body>
    <h1>Emergency WDI Compliment</h1>
    <%= yield %>
</body>
</html>
