<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emergency Compliment</title>
  <style media="screen">
    body{
      background-color: <%= @color %>;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
