<html>
<head>
    <title>Juliet's Emergency Compliment</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
</head>
<body style = "background-color: <%= @color %>">

   <%= yield %>

</body>
</html>
