<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Nelley's Emergency_Compliment</title>
    <style>
    body
    {
      background-color: <%= @color %>;
      font-family: arial;
      color: blue;
      width: 900px;
      margin: 0 auto
    }
    div
    {
      font: bold 72px arial;
      margin-top: 50px;
    }
    </style>
  </head>
  <body>
    <h1>Emergency Compliment</h1>
    <%= yield %>
  </body>
</html>
