<!-- TODO: make this a put request -->
<form method="post" action="/compliments/{{id}}?_method=put">
  <input type='text' name='compliment' value='{{compliment}}'>
  <input type='submit' value="Edit Compliment"/>
</form>
