<form method="post" action="/compliments">
  <input type='text' name='compliment' placeholder='enter compliment'>
  <input type='submit' value="Create new Compliment"/>
</form>

<ul>
  {{#each compliments}}
    <li>{{this}}</li>
  {{/each}}
</ul>
