<h1>New Compliment</h1>

<form action="/compliments" method="post">
  <input type='text' name='compliment'>
  <input type='text' name='pizza'>
  <input type='submit' value='Create New Compliment'>
</form>
