<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Free Compliments!!!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style = "background-color: <%= @color %>">
  <%= yield %>
  <h2>Post a new compliment here!</h2>
  <form method="post" action="/">
    <input type="text" name="compliment">
    <input type="submit">
  </form>
</body>
</html>
