<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emergency Compliment</title>
  <style>
  body {
    background-color: <%= @color %>;
    font-family:sans-serif;
    color: white;
    width: 900px;
    margin: 0 auto
  }
  div {
    font: bold 72px helvetica;
    margin-top: 50px;
  }
  </style>
</head>
<body>
  <h1>Emergency WDI Compliment</h1>
  <%= yield %>
</body>
</html>
